.jewelery-item {
  margin: 70px 0 70px 0;
  list-style: none;
}

.necklaces-img {
  width: 360px;
  height: 425px;
  padding: 20px;
  transition: 2s;
}

.product-description {
  padding: 20px;
  text-align: center;
}

.jewelery-item {
  position: relative;
}

.cart_btn {
  position: absolute;
  width: 322px;
  bottom: 139px;
  padding: 11px;
  background-color: white;
  color: black;
  text-align: center;
  left: 19px;
  opacity: 0.7;
  border: none;
  cursor: pointer;
}

.cart_btn:hover {
  background-color: rgb(236, 233, 233) !important;
  opacity: 1;
}

.button_text {
  color: black;
  font-weight: 900;
}

.transition-enter {
  opacity: 0.01;
}

.transition-enter.transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.transition-leave {
  opacity: 1;
}

.transition-leave.transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
