.jewelery-item {
  margin: 70px 0 70px 0;
  list-style: none;
}

.necklaces-img {
  width: 360px;
  height: 425px;
  padding: 20px;
}

.product-description {
  padding: 20px;
  text-align: center;
}

.jewelery-item {
  position: relative;
}

.cart_btn {
  position: absolute;
  width: 322px;
  bottom: 139px;
  padding: 11px;
  background-color: white;
  color: black;
  text-align: center;
  left: 19px;
  opacity: 0.7;
  border: none;
  cursor: pointer;
}

.cart_btn:hover {
  background-color: rgb(236, 233, 233) !important;
  opacity: 1;
}

.button_text {
  color: black;
  font-weight: 900;
}

/*CSS Transition Group*/

.hover-transitions-enter {
  opacity: 0.3;
  transition: all 500 ease;
}

.hover-transitions-enter.hover-transitions-enter-active {
  opacity: 0.4;
  transition: all 500 ease;
}

.hover-transitions-exit {
  opacity: 1;
}

.hover-transitions-exit.hover-transitions-exit-active {
  opacity: 1;
}

.transition-exit-done {
  opacity: 0.01;
}
