.topbar-container {
  padding: 9px;
  margin-bottom: 14px;
  width: 100%;

  background-color: rgb(51, 51, 51);
}

.topbar-text {
  color: white;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {
    transform: translateX(0%);
    transition: 2s linear;
  }

  to {
    transform: translateX(100%);
  }
}
