.cart-container {
  position: relative;
  margin: 32px;
  box-sizing: border-box;
}

.cart-item-image {
  width: 80px;
  height: 80px;
}

.cart-table {
  margin-top: 160px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.products-information {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  border-bottom: solid rgb(56, 54, 54);
  border-width: 1.5px;
  padding-bottom: 13px;
}

.cart-item {
  text-align: center;
  border-bottom: solid rgb(56, 54, 54);
  border-width: 1.5px;
  padding: 16px 0 16px 0;
}

.empty-class-container {
  padding-top: 100px;
  text-align: center;
}

.item-counter {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  cursor: pointer;
}

/* .clear-cart-btn {
  background-color: pink;
  border-radius: 10%;
} */

.cart-order-summary-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 35px;
  width: 100%;
}

.cart-order-summary {
  background-color: rgb(238, 238, 238);
}

.order-summary-text {
  text-align: center;
  padding: 30px 0 10px 0;
}

.shipping-method-list {
  list-style: none;
  direction: rtl;
  text-align: right;
}

.shipping-method-list li {
  margin: 20px;
}

.order-summary-total {
  background-color: rgba(194, 194, 194, 0.548);
  padding: 20px;
}

.cart-total-table {
  border-collapse: collapse;
}

#order-summery-text-right {
  display: flex;
  justify-content: flex-end;
}

#order-summery-text-right-list label {
  margin-right: 11px;
}

.cart-totals-table-row {
  padding: 200px;
  background-color: indianred;
}

.cart-totals-table-inner-chart {
  padding: 33px 40px 33px 40px;
}
