.cart-table {
  margin-top: 200px;
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  position: relative;
}

.cart-container {
  display: flex;
  justify-content: center;
}

.products-information {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  border-bottom: solid rgb(56, 54, 54);
  border-width: 1.5px;
  padding-bottom: 10px;
}

.cart-item {
  text-align: center;
  border-bottom: solid rgb(56, 54, 54);
  border-width: 1.5px;
}

.empty-class-container {
  padding-top: 100px;
  text-align: center;
}

.cart-table td {
  width: 25%;
}

.item-counter {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  cursor: pointer;
}

tfoot {
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  border-width: 1.5px;
}

#payment-btn {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-size: 16px;
}

.cart-total-countainer td {
  padding-top: 20px;
  padding-bottom: 20px;
}

.payment-btn {
  background-color: rgb(66, 65, 65);
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.clear-cart-btn {
  background-color: pink;
  border-radius: 10%;
  padding: 7px;
}
