.contact-form-container {
  box-sizing: border-box;
  margin: 167px 25px 150px 25px;
}

.contact-us {
  margin-top: -12px;
  margin-bottom: 27px;
}
.contact-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#get_in_touch {
  padding-bottom: 14px;
  letter-spacing: 1px;
  max-width: 390px;
}

.google-maps h5 {
  padding-bottom: 14px;
}

.google-maps {
  margin-left: 5px;
}
#google-maps {
  /* width: 530px; */
  height: 500px;
  min-width: 400px;
  /* width: 120%; */
  border: 0.5px solid rgb(148, 142, 142);
}
.msg {
  display: none;
}

.msg_appear {
  display: block;
}

#contact_form .form-row {
  padding: 5px;
}

.text {
  display: block;
  width: 100%;
  border: 0.5px solid rgb(148, 142, 142);
  height: 50px;
  font-size: 19px;
  padding: 7px;
}

.contact-form-wrapper {
  /* width: 530px; */
  padding-right: 32px;
  /* width: 100%; */
  min-width: 450px;
}

.form-row ::placeholder {
  opacity: 0.4;
}

.form-row :focus {
  border-color: rgb(63, 61, 62);
}

.form-row button {
  background-color: rgb(78, 73, 73);
  color: white;
}

@media only screen and (max-width: 540px) {
  .contact-wrapper {
    flex-direction: column;
    margin: 10px;
  }
}

@media only screen and (max-width: 325px) {
  .contact-wrapper {
    width: 319px;
    margin-top: 66px;
    flex-direction: column;
  }

  .text {
    height: 32px;
  }
}
