/*Checkout steps*/

.checkout-steps-container {
  margin-left: 10px;
}
.checkout-steps > div {
  font-size: 14px;
  margin-top: 90px;
  padding-left: 11px;
  color: gray;
  display: inline-block;
}

.checkout-steps > div.active {
  margin-top: 80px;
  color: black;
  display: inline-block;
  padding-left: 10px;
  font-weight: bold;
}

/*payment.js*/

.order-summary-and-payment {
  text-align: center;
  width: 600px;
  margin: 50px 0 50px 0;
}

.paypal-btn-container {
  text-align: center;
}
