footer {
  max-width: 100%;
  border-top: solid rgb(209, 207, 207);
  border-width: 0.5px;
  /* background-color: rgb(226, 239, 255); */
  overflow-x: hidden;
  max-height: 100%;
}
.footer-nav {
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.footer-section {
  margin: 60px;
}
.footer-group-title {
  margin-bottom: 14px;
  color: black;
}

.footer-section li {
  list-style: none;
  line-height: 30px;
  font-size: 12px;
}

.footer-section:first-child li a:hover {
  font-weight: bolder;
  border-bottom: solid black;
  border-width: 1px;
}

.footer-section:last-child li .facebook-icon:hover {
  font-size: 28px !important;
}

.footer-section:last-child li .instagram-icon:hover {
  font-size: 30px !important;
}

#footer-company {
  text-align: center;
  font-size: 9px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.follow-us-icons-and-text {
  display: flex;
  flex-direction: row;
}

.facebook-icon {
  margin-left: 15px;
  font-size: 25px !important;
}

.footer-section:last-child {
  display: flex;
  align-items: center;
}
.instagram-icon {
  font-size: 26px !important;
}

.paypal_acceptance_mark img {
  width: 170px;
  margin-top: 10px;
}

.paypal_acceptance_mark {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 299px) {
  .footer-section li {
    font-size: 9px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .footer-section li {
    font-size: 9px;
  }
}
