.carousel {
  box-sizing: border-box;
  width: 80%;
  margin: 250px auto;
}

.product-item-box {
  text-align: center;
}

.slick-next {
  top: 173px !important;
  color: black !important;
  font-size: 40px !important;
}

.slick-prev {
  color: black !important;
  font-size: 40px !important;
  top: 173px !important;
}

.carousel-text-wrapper {
  font-family: "Raleway", "sans-serif;";
  margin-bottom: 30px;
}

.carousel-text {
  margin-bottom: 16px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
}

.carousel-price {
  font-weight: lighter;
  font-size: 14.5px;
}

.carousel-wrapper {
}
