.necklace_container {
  margin: 9px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -37px;
}

@media only screen and (max-width: 1201px) {
  .necklace_container {
    margin-top: -30px;
  }
}

@media only screen and (max-width: 421px) {
  .necklace_container {
    margin-top: -54px;
  }
}

.location-param {
  margin-top: 71px;
  text-transform: capitalize;
  margin-left: 19px;
}

.loading-msg {
  padding-top: 150px;
  padding-left: 50px;
}

.error-msg {
  padding-top: 150px;
  padding-left: 20px;
}
