.necklace_container {
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 19px;
  margin-top: -54px;
}

@media only screen and (max-width: 1201px) {
  .necklace_container {
    margin-top: -54px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 780px) {
  .necklace_container {
    margin-top: -54px;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 421px) {
  .necklace_container {
    margin-top: -54px;
    grid-template-columns: 1fr;
  }
}

.location-param {
  margin-top: 71px;
  text-transform: capitalize;
  margin-left: 19px;
  font-size: 15px;
  font-weight: lighter;
}

.loading-msg {
  padding-top: 150px;
  padding-left: 50px;
}

.error-msg {
  padding-top: 150px;
  padding-left: 20px;
}
