:root {
  --respo-height: 40vw;
  --respo-width: 30.257vw;
}

.jewelery-item {
  margin: 70px 0 110px 0;
  list-style: none;
  position: relative;
  height: var(--respo-height);
  width: var(--respo-width);
  display: flex;
  flex-direction: column;
  /* margin: 1vw; */
}

.image-wrapper {
  position: relative;
  height: var(--respo-height);
  width: var(--respo-width);
}

.necklaces-img {
  position: absolute;
  height: var(--respo-height);
  width: var(--respo-width);
}

.product-description {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.cart_btn {
  position: absolute;
  width: var(--respo-width);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 0 25px 0;
  background-color: white;
  color: black;
  text-align: center;
  opacity: 0.7;
  border: none;
  cursor: pointer;
  height: 30px;
}

.cart_btn:hover {
  background-color: rgb(228, 242, 248) !important;
  opacity: 1;
}

/* 
.jewelery-item {
  margin: 70px 0 20px 0;
  list-style: none;
  border: solid black;
  position: relative;
  width: auto;
  height: 65vh;
  /* height: 65vh;
  position: relative; */
/* } */

/* .image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* .necklaces-img {
  position: absolute;
  max-width: 100%;
  height: auto;
  border: solid rgb(255, 174, 0);
}




.button_text {
  color: black;
  font-weight: 900;
  font-family: "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
}

.img-placeholder {
  content: "Placeholder!";
  width: 100%;
  height: auto;
  background-color: rgb(107, 101, 101);
}
/*CSS Transition Group*/

.hover-transitions-enter {
  opacity: 0.3;
  transition: all 500 ease;
}

.hover-transitions-enter.hover-transitions-enter-active {
  opacity: 0.4;
  transition: all 500 ease;
}

.hover-transitions-exit {
  opacity: 1;
}

.hover-transitions-exit.hover-transitions-exit-active {
  opacity: 1;
}

.transition-exit-done {
  opacity: 0.01;
}

@media only screen and (min-width: 1000px) {
  .jewelery-item {
    height: 649px !important;
    width: 490px !important;
  }
  .necklaces-img {
    height: 649px !important;
    width: 490px !important;
  }
  .image-wrapper {
    height: 649px !important;
    width: 490px !important;
  }

  .cart_btn {
    width: 490px !important;
  }
}

@media only screen and (max-width: 325px) {
}
