.jewelery-item {
  margin: 70px 0 20px 0;
  list-style: none;
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.necklaces-img {
  position: absolute;
  max-width: 100%;
  height: auto;
}

.product-description {
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
}

.cart_btn {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  padding: 11px;
  background-color: white;
  color: black;
  text-align: center;
  opacity: 0.7;
  border: none;
  cursor: pointer;
}

.cart_btn:hover {
  background-color: rgb(228, 242, 248) !important;
  opacity: 1;
}

.button_text {
  color: black;
  font-weight: 900;
  font-family: "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
}

/*CSS Transition Group*/

.hover-transitions-enter {
  opacity: 0.3;
  transition: all 500 ease;
}

.hover-transitions-enter.hover-transitions-enter-active {
  opacity: 0.4;
  transition: all 500 ease;
}

.hover-transitions-exit {
  opacity: 1;
}

.hover-transitions-exit.hover-transitions-exit-active {
  opacity: 1;
}

.transition-exit-done {
  opacity: 0.01;
}

@media only screen and (max-width: 1201px) {
  .jewelery-item {
    margin: 70px 0 20px 0;
    list-style: none;
    position: relative;
    height: 40vh;
    overflow: hidden;
  }
}

@media only screen and (max-width: 325px) {
  .img-wrapper-single {
    width: 320px;
  }
  .necklaces-img {
    width: 100%;
  }
}
