.header {
  margin: 0 auto;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  box-sizing: border-box;
  background-color: white;
  padding-top: 19px;
  padding-bottom: 19px;
}

.main-container {
  display: block;
  margin-top: 50px;
  z-index: 1;
}
