@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
* {
  color: rgb(68, 66, 66);
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* font-family: "Quicksand", sans-serif; */
  box-sizing: border-box;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* betutipus:  FuturaPT FuturaPT, Helvetica, Arial, sans-serif; Abel, IBM Plex, Oxygen, Varela  Quicksand, Work Sans
*/

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

#spin-loader-container {
  display: flex;
  justify-content: center;
  padding: 150px 0 150px 0;
}

/* .boxes img {
  width: 100%;
  height: 100%;
}

.about-us-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

#text-box2 {
  text-align: center;
  padding: 60px;
  font-size: 30px;
}

#text-box1 {
  font-size: 80px;
  letter-spacing: 10px;
  padding: 140px;
}

#home {
  text-align: center;
  margin: 150px;
} */

/* 

  .main-pictures {
    padding-top: 120px;

    grid-template-columns: auto;
  }

  .about-us-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
} */
