.responsive-product_wrapper {
  display: none;
}

.product_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 81px;
}

.product_textbox {
  width: 430px;
  height: 550px;
  text-align: left;
}

.prev_btn {
  width: 55px;
  height: 55px;
  margin-left: 20px;
  position: absolute;
  top: 48%;
}

.prev_btn:after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-top: 0.15em solid rgb(51, 51, 51);
  border-right: 0.15em solid rgb(51, 51, 51);
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.next_btn {
  margin-left: -85px;
  width: 55px;
  height: 55px;
  position: absolute;
  top: 48%;
}

.next_btn:after {
  content: "";
  display: inline-block;
  margin-left: -10px;
  width: 30px;
  height: 30px;
  border-top: 0.15em solid rgb(51, 51, 51);
  border-right: 0.15em solid rgb(51, 51, 51);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*CSS Transition Group*/

.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 5000ms linear;
}

.fade-exit-done {
  opacity: 0;
}

.sideImageClass {
  width: 402px;
  height: auto;
  margin: 0 100px 0 70px;
}

.single_product_page_button_container button {
  background-color: rgb(66, 65, 65);
  color: white;
  width: 390px;
  height: 38px;
  letter-spacing: 1.5px;
  font-size: 15px;
  margin-top: 5px;
  text-transform: uppercase;
}

.single_product_page_button_container {
  padding-top: 50px;
}

@media only screen and (max-width: 1201px) {
  .product_wrapper {
    display: none;
  }

  .responsive-product_wrapper {
  }
}

@media only screen and (max-width: 421px) {
  .product_wrapper {
    display: none;
  }

  .responsive-img_container {
    width: 150px;
    height: 100px;
  }

  .product_wrapper {
    display: flex;
    flex-direction: column;
  }
}
